*{
    margin : 0;
    padding : 0;
}

body{
    font-family: 'Raleway', sans-serif;
    /*background-color: bisque;*/
}

main{
    padding: 10px;
}

a{
    text-decoration: none;
}

header{
    border : 1px solid blueviolet;
    padding: 10px;
}
/* ------------------ En-tête du site  */ 

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.reservia{
    width: 65%;
    border : 1px solid green;
}

.logo{
    width : 80px;
    height: 40px;
}

nav{
    display: flex;
    border : 1px solid red;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.lieninscription{
    border : 1px solid blue;
    display: flex;
    width: 10%;
    align-content: flex-end;
    align-items: center;
}

.presentation{
    border: 1px solid indianred;
    display: flex;
    flex-direction: column;

}

.filtres{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
}

.filtreLien{
    display:flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: row;*/
    border-top : 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-radius: 18px;
    margin-left : 10px;
    padding-right: 7px;
}

.filtreLien i{
    display:flex;
    justify-content: center; 
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 25px;
    width: 25px;
    border-radius: 18px;
    padding : 5px;
    margin-right: 5px;
}

.info i{
    display:flex;
    justify-content: center; 
    align-items: center;
    height: 15px;
    width: 15px;
    color:#0065FC;
    border : 2px solid #f2f2f2;
    border-radius: 15px;
    padding : 3px;
    margin-right: 5px;
}

.info{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin : 5px;
}

/* ---------------------  Partie hébergement ----------------*/

.logement{
    display:flex;
    flex-direction: row;
}

#hebergement{
    display:flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 65%;
    padding: 15px;
    border-radius: 18px;
}

.hebergementtop{
    display:flex;
    flex-direction: row;
}

.hebergementbottom{
    display:flex;
    flex-direction: row;
}

.imghebergement{
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.cartehebergement{
    background-color: white;
    width: 33%;
    margin: 10px;
    padding : 5px;
    border-radius: 18px;
    box-shadow: 6px 6px 6px #f2f2f2; 
}

.bluestar{
    color : #0065FC;
}

.greystar{
    color: #f2f2f2;
}

/* -- Aside -- */

aside{
    display:flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 35%;
    margin-left: 20px;
    padding-top: 15px;
    border-radius: 18px;
}

.titrepop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imgpop{
    width: 40%;
    height: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.cartepop{
    display:flex;
    flex-direction: row;
    background-color: white;
    margin: 10px;
    padding : 5px;
    border-radius: 18px;
    box-shadow: 6px 6px 6px #f2f2f2;  
}

.description{
    margin-left: 15px;
}
/* ----------------- Partie Activités --------------------- */

#activites{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: 20px;
}

.carteactivite1{
    margin: 10px;
    border-top-right-radius: 18px;
    width: 25%;
    /*border : 1px solid red;*/
}

.carteactivite2{
    margin: 10px;    
    display:flex;
    flex-direction: column;
    width: 25%;
}

figure img{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
}

.carteactivite1 img{
    height: 330px;
    width: 100%;
    /*margin-top: 10px;*/
}

.carteactivite2 img{
    height: 150px;
    width: 100%;
}

figure{
    border-radius: 18px;
    box-shadow: 6px 6px 6px #f2f2f2; 
    margin-top: 15px;
}

figcaption{
    margin-top: 5px;
    margin-left: 20px;
    font-weight: bold;
}

/*------------ Footer --------------- */

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

footer div{
    width: 33%;
}

h3{
    margin-bottom: 5px;
}