*{
    margin : 0;
    padding : 0;
}

body{
    font-family: 'Raleway', sans-serif;
    /*background-color: bisque;*/
}

main{
    padding: 10px;
}

a{
    text-decoration: none;
    color:initial;
}

h1{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    border : 1px solid blueviolet;
    padding: 10px;
}

/* ------------------ En-tête du site  ------------------ */ 

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.reservia{
    display: flex;
    align-items: center;
    width: 65%;
    border : 1px solid green;
    height: 65px;
}

.logo{
    width : 80px;
    height: 40px;
}

nav{
    display: flex;
    border : 1px solid red;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    height: 60px;
}

nav a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.lieninscription{
    border : 1px solid blue;
    display: flex;
    width: 10%;
    align-content: flex-end;
    align-items: center;
    color: #0065FC;
}


/*------------ Partie avec filtres ----------*/



.recherche{
    border: 1px solid indianred;
    display: flex;
    flex-direction: column;
}

.ville{
    border: 1px solid aquamarine;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: stretch;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ville i{
    display:flex;
    justify-content: center; 
    align-items: center;
    background-color: #f2f2f2;
    height: 35px;
    width: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px ;
}

input{
    height: 35px;
    width: 200px;
    margin: 0px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: 0px;
    border-right: 0px;
}

::placeholder{
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

button{
    margin: 0px;
    height: 35px;
    width: 100px;
    background-color: #0065FC;
    color: #f2f2f2;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filtres{
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightsalmon;
}

.filtreLien{
    display:flex;
    align-items: center;
    justify-content: center;
    border-top : 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-radius: 20px;
    margin-left : 35px;
    padding-right: 20px;
    height: 35px;
}

.filtreLien:hover{
    color:#DEEBFF;
    background-color: #0065FC;
    height: 30px;
}

.filtreLien i{
    display:flex;
    justify-content: center; 
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 18px;
    padding : 5px;
    margin-right: 10px;
}

.info i{
    display:flex;
    justify-content: center; 
    align-items: center;
    height: 15px;
    width: 15px;
    color:#0065FC;
    border : 2px solid #f2f2f2;
    border-radius: 15px;
    padding : 3px;
    margin-right: 5px;
}

.info{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top : 5px;
    font-size: 12px;
    border: 1px solid lawngreen;
}

/* ---------------------  Partie hébergement ----------------*/

.logement{
    border: 1px solid darkcyan;
    display:flex;
    flex-direction: row;
    height: 620px;
}

#hebergement{
    display:flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 65%;
    padding: 15px;
    border-radius: 18px;
}

.hebergementtop{
    display:flex;
    flex-direction: row;
    height: 45%;
}

.hebergementbottom{
    display:flex;
    flex-direction: row;
    height: 45%;
}

.imghebergement{
    width: 100%;
    height: 55%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.cartehebergement{
    background-color: white;
    width: 33%;
    height: 80%;
    margin: 10px;
    padding : 5px 5px 0px 5px;
    border-radius: 18px;
    box-shadow: 6px 6px 6px #dddddd;  
}

.description{
    padding: 0 5px 0 5px;
    line-height: 30px;
    height: 30%;
}

.bluestar{
    color : #0065FC;
}

.greystar{
    color: #f2f2f2;
}

/* -- Aside -- */

aside{
    display:flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 30%;
    margin-left: 40px;
    padding-top: 15px;
    border-radius: 18px;
}

.titrepop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
}

.cartepop{
    display:flex;
    flex-direction: row;
    background-color: white;
    margin: 10px 30px 15px 30px;
    padding : 5px;
    border-radius: 18px;
    box-shadow: 6px 6px 6px #dddddd;  
}

.imgpop{
    width: 40%;
    height: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.descriptionpop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 28px 5px 20px;
    line-height: 25px;
}



/* ----------------- Partie Activités --------------------- */

#activites{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 20px;
    height: 100%;
}

.titreactivites{
    margin-left: 15px;
}

.toutesactivites{
    display:flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid blue;
    padding: 0px;
}

.carteactivite1{
    margin: 0 1em 0 1em;
    width: 25%;
    height: 100%;
    border : 1px solid red;
}

.carteactivite2{
    margin:  0 1em 0 1em;   
    display:flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 1px solid green;
}

figure img{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
}

.carteactivite1 img{
    height: 330px;
    width: 100%;
    /*margin-top: 10px;*/
}

.carteactivite2 img{
    height: 150px;
    width: 100%;
}

figure{
    border-radius: 18px;
    box-shadow: 6px 6px 6px #dddddd; 
    margin-top: 15px;
}

figcaption{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

/*------------ Footer --------------- */

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

footer div{
    width: 33%;
}

h3{
    margin-bottom: 5px;
}